.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
}

@media screen and (min-width: 800px) {
    .auth-container {
        flex-direction: row;
    }
}